/* Young is putting CSS here! */

.nav-link {
  display: block;
  text-decoration: none;
  width: 100%;
  margin-top: .5rem;
  margin-bottom: .5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  color:black;
}

.nav-link2 {
  display: block;
  text-decoration: none;
  width: 100%;
  color:white;
}

.signup-text {
  text-decoration: none;
  color: #FBB03B;
}

.signup-text:hover {
  color: #ED1C24;
}

#position {
  color: gray;
  font-style: italic;
}

.chosen-restaurant {
  color: #FBB03B;
  font-size: 2rem;
}

#hours-of-op {
  padding-left: 1em;
}

.yelplink {
  text-decoration: none;
  color: #FBB03B;
}

.yelplink:hover {
  color: #ED1C24;
}

/* FBB03B - yellow, ED1C24 - red, 39B54A - green */