body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*! Whitney styling for easy seeing of things */

footer{
  background-color: chartreuse;
  height: 25vh;
  padding: 1rem;
  border-top: 3px solid black;
}

footer > div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 2rem;
}

footer a{
  width: 150px;
  height: 150px;
  background-color: blanchedalmond;
  border-radius: 100%;
}